{% extends 'layout.html' %}

{% block content %}

<h1>abouht </h1>

<p>
    aqui esta la informaion de la pagina
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sapiente placeat fugiat illum maxime cupiditate nobis distinctio, alias asperiores voluptate beatae animi iure odio quisquam porro nostrum fuga ab! Blanditiis.
</p>

<h4> 
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia rerum dicta, fugiat optio molestias iusto voluptatibus praesentium debitis similique, sequi officia exercitationem deserunt necessitatibus dolorem beatae in sit vero delectus.
</h4>

{% endblock %}