{% extends "layout.html" %}

{% block content %}

<h1> Actualizar la informacion de contacto </h1>

<form class="col-12 d-flex" action="/update/{{contact.id}}" method="post">
    <input class="form-control w-[33vw]" type="text" name="name" id="name" value="{{ contact.name }}" placeholder="Ingresa tu nombre" />
    <input class="form-control w-[33vw]" type="text" name="email" id="email" value="{{ contact.email }}" placeholder="Ingresa tu email" />
    <input class="form-control w-[33vw]" type="text" name="phone" id="phone" value="{{ contact.phone }}" placeholder="Agrega un telefono" />  

    <button class="btn btn-success" type="submit"> Guardar </button>
    <a class="btn btn-danger" href="{{ url_for('contacts.index') }}">Cancelar</a>
</form>

{% endblock %}